<!DOCTYPE html>
<html lang="en">

    <head>
        {{ template "header" . }}
        <title>{{ .appName }} API</title>
    </head>

    <body class="flex flex-col items-center min-h-screen w-screen text-center font-semibold gap-4 pt-24 bg-neutral-100">
        <h1 class="text-4xl">{{ .appName }} API</h1>
        <p class="text-sm font-medium">{{ .appVersion }}</p>
        <img src="/images/go-fast.png" alt="Gopher running fast" width="256" height="256" />
        <a class="border-2 border-black bg-black text-white rounded-md px-4 py-2" href="/swagger/index.html">
            View API Docs
        </a>
    </body>

</html>